body{
    background-image: url(../../images/background-image.jpg);
    background-size: cover;
    background-attachment:fixed;
}

div.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.time{
    font-size: 4rem;
    margin-top: 20px;
}

.date{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 0.5em;
}